Modulo 10/ESB_BASICS/services/MoviesService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MoviesService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="MoviesServiceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="movieID" type="xsd:string"></xsd:element>
						<xsd:element name="regresado"
							type="xsd:boolean">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MoviesServiceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="movieID" type="xsd:string"></xsd:element>
						<xsd:element name="nombre" type="xsd:string">
						</xsd:element>
						<xsd:element name="disponible"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="MoviesServiceOperationRequest">
		<wsdl:part name="parameters" element="tns:MoviesServiceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MoviesServiceOperationResponse">
		<wsdl:part name="parameters" element="tns:MoviesServiceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="MoviesServicePortType">
		<wsdl:operation name="MoviesServiceOperation">
			<wsdl:input message="tns:MoviesServiceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:MoviesServiceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="MoviesServiceBinding" type="tns:MoviesServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="MoviesServiceOperation">
			<soap:operation soapAction="http://www.talend.org/service/MoviesServiceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="MoviesService">
		<wsdl:port name="MoviesServicePort" binding="tns:MoviesServiceBinding">
			<soap:address location="http://localhost:8090/services/MoviesService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>